In [3]:
#INPUT/OUTPUT

bil1 = input("isikan bilangan 1 = ")
bil2 = input("isikan bilangan 2 = ")
hasil = int(bil1) + int(bil2)
print("Hasil dari",bil1, "+", bil2, "=", hasil)

isikan bilangan 1 = 454
isikan bilangan 2 = 87
Hasil dari 454 + 87 = 541

In [6]:
#Progam menghitung luas dan keliling persegi panjang

panjang = input("Masukan Nilai Panjang = ")
lebar = input("Masuakan Nilai Lebar = ")
luas = int(panjang)* int(lebar)
keliling = 2 * (int(panjang)+ int(lebar))

print("luas = ", luas)
print("keliling = ", keliling)

Masukan Nilai Panjang = 6
Masuakan Nilai Lebar = 10
luas =  60
keliling =  32

In [13]:
#separator

print("A","B","C", sep="@_@")

A@_@B@_@C

In [19]:
print("A","B","C", "D", sep="\n", end= " ^_^" * 10)

A
B
C
D ^_^ ^_^ ^_^ ^_^ ^_^ ^_^ ^_^ ^_^ ^_^ ^_^

In [31]:
num_1 = 8
num_2 = 10
# Hasil dari 8 modulus 10 = 8
#str.format()

print("hasil dari {} modulus {} = {}". format(num_1,num_2,num_1%num_2))

hasil dari 8 modulus 10 = 8

In [24]:
fname = "Rudi"
mname = "Hartono"
lname = "Darmawan"

print("Nama anda {1} {2} {0}".format(fname,mname,lname))

Nama anda Hartono Darmawan Rudi

In [32]:
print("Naman anda {nama}, nilai anda {nilai}".format(nama= "Andri",nilai=70))

Naman anda Andri, nilai anda 70

In [41]:
# univ = "universitas nusa putra"

print("karakter pertama : ",univ[0])
print("karakter terakhir : ",univ[-1])
#universitas
print(univ[0:11])
print(univ[-5:-1])
print(univ[17:])

karakter pertama :  u
karakter terakhir :  a
universitas
putr
putra

In [45]:
f_name = "Geri"
l_name = "panji"

print(f"Nama saya {f_name} {l_name}")

Nama saya Geri panji

In [53]:
nama = "Budi,Andri,Chika"
nama2 = "Budi Andri Chika"
print(nama2.split())
print(nama.split(","))

#join -> menggabungkan string kedalam kumpulan karakter

print("@".join(nama.split(",")))


#input tanggal lahir-> 18/2010
#input nama -> Bill Gate
#output : 
#tgl : 18, bulan: oktober, tahun 2010
#nama inisial : BG

Tgl = input("Masukan tanggal Lahir : ")
nama = input("Masukan Nama : ")
batas = Tgl.split("/")

print(f"Tanggal {batas[0]}, bulan {batas[1]}, tahun {batas[2]}")
batas2 = nama.split()

nama_pertama = batas2[0]
nama_kedua = batas2[1]

print(f"Nama inisial : {nama_pertama[0]+nama_kedua[0]}")

['Budi', 'Andri', 'Chika']
['Budi', 'Andri', 'Chika']
Budi@Andri@Chika
Masukan tanggal Lahir : 18/Oktober/2010
Masukan Nama : Bill Gate
Tanggal 18, bulan Oktober, tahun 2010
Nama inisial : BG